TELEGRAM_TOKEN=your-telegram-token
OPENROUTER_API_KEY=your-openrouter-api-key
MODEL_NAME=stepfun/step-3.5-flash:free
GROQ_API_KEY=your-groq-api-key
YOUTUBE_API_KEY=AIzaSyCSeY_S2IzDuyjYdvdN5aoz16Te6atk8Uc
RAPIDAPI_KEY=2844b75302msh8754e0f92019ef2p16888bjsn463e00ad9994
SERVER_HOST=0.0.0.0
SERVER_PORT=5000
PUBLIC_WEBAPP_URL=https://your-stable-endpoint.ngrok.app
NGROK_AUTHTOKEN=your-ngrok-authtoken
NGROK_POOLING_ENABLED=true