[Unit]
Description=Clusivai Telegram Bot
After=network.target

[Service]
Type=simple
User=clusiv
WorkingDirectory=/home/clusiv/bot-recordatorios
ExecStart=/home/clusiv/bot-recordatorios/venv/bin/python3 /home/clusiv/bot-recordatorios/bot.py
Restart=always
RestartSec=10
EnvironmentFile=/home/clusiv/bot-recordatorios/.env

[Install]
WantedBy=multi-user.target
